div{
    text-align: center;
    background-color: chocolate;
}
button:hover{
    cursor: pointer;
}
button{
    height: 2.2em;
    width: 5.5em;
    border: none;
    color: azure;
}
.iniciar-btn{
    background-color: green;
}
.pausa-btn{
    background-color: grey;
}
.para-btn{
    background-color: red;
}
